# Oefentoets Data 1 Toetsmoment 1

In [98]:
import pandas as pd

De dataset is een CBS dataset over werkgelegenheid. De kolommen zijn 
* geslacht, 
* bedrijfstak, 
* Perioden, in jaren, 
* Onderwerp, welke manier om werkgelegenheid te meten
* Waarde, de uiteindelijke waarde. Bij aantallen in duizenden, bij uren in miljoen uren

In [99]:
# Inlezen
data = pd.read_csv('werkgel_ot.csv', sep=";")
cols = list(data.columns)
cols.remove('Waarde')
for col in cols:
    print(data[col].unique())
data

['Mannen' 'Vrouwen']
['A Landbouw, bosbouw en visserij' 'B Delfstoffenwinning' 'C Industrie'
 'D Energievoorziening' 'E Waterbedrijven en afvalbeheer'
 'F Bouwnijverheid' 'G Handel' 'H Vervoer en opslag' 'I Horeca'
 'J Informatie en communicatie' 'K Financiële dienstverlening'
 'L Verhuur en handel van onroerend goed'
 'M Specialistische zakelijke diensten'
 'N Verhuur en overige zakelijke diensten'
 'O Openbaar bestuur en overheidsdiensten' 'P Onderwijs'
 'Q Gezondheids- en welzijnszorg' 'R Cultuur, sport en recreatie'
 'S Overige dienstverlening' 'T Huishoudens']
[2013 2014 2015 2016 2017 2018]
['Werkzame personen' 'Banen' 'Arbeidsjaren' 'Gewerkte uren']
['Werknemers' 'Zelfstandigen']

,Geslacht,Bedrijfstakken/branches (SBI 2008),Perioden,Onderwerp,Type werkenden,Waarde
0,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Werknemers,68
1,Mannen,"A Landbouw, bosbouw en visserij",2013,Werkzame personen,Zelfstandigen,66
2,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Werknemers,75
3,Mannen,"A Landbouw, bosbouw en visserij",2013,Banen,Zelfstandigen,89
4,Mannen,"A Landbouw, bosbouw en visserij",2013,Arbeidsjaren,Werknemers,56
...,...,...,...,...,...,...
1915,Vrouwen,T Huishoudens,2018,Banen,Zelfstandigen,0
1916,Vrouwen,T Huishoudens,2018,Arbeidsjaren,Werknemers,13
1917,Vrouwen,T Huishoudens,2018,Arbeidsjaren,Zelfstandigen,0
1918,Vrouwen,T Huishoudens,2018,Gewerkte uren,Werknemers,23
1919,Vrouwen,T Huishoudens,2018,Gewerkte uren,Zelfstandigen,0

In [106]:
# 1a
filtr = data[data['Bedrijfstakken/branches (SBI 2008)'] == 'J Informatie en communicatie']
grouped = filtr.groupby('Perioden')['Waarde'].sum()
grouped[2017]

1403

In [110]:
# 2a
selectie = data[(data['Onderwerp'] == 'Banen') 
                &(data['Bedrijfstakken/branches (SBI 2008)'] == 'J Informatie en communicatie')]
grouped2=(selectie.groupby('Perioden')['Waarde'].sum())
print(grouped2.min()# minmale waarde (286)
      , grouped2.idxmin()) #bijbehorend jaar (2013)

286 2013

In [131]:
# 3a
selectie2 = data[(data['Onderwerp'] == 'Gewerkte uren') 
                &(data['Bedrijfstakken/branches (SBI 2008)'] == 'P Onderwijs')]
pvt = pd.pivot_table(selectie2, index=['Perioden'], columns=['Geslacht'], values=['Waarde'])
#3b
pvt2 = pvt.loc[2016:, [('Waarde', 'Mannen')]]
pvt2['pctChange'] = pvt2['Waarde','Mannen'].pct_change()*100
display(pvt2)

         Waarde pctChange
Geslacht Mannen
Perioden
2016      144.0       NaN
2017      146.0  1.388889
2018      148.0  1.369863

In [160]:
# 4a  komt op toets.
grouped4 = data[data['Onderwerp'] == 'Arbeidsjaren'].groupby('Perioden')['Waarde'].sum()
print(f'De procentuele verrandering van 2018 ten opzichte van 2018 is: {((grouped4[2018]-grouped4[2013]) / grouped4[2013]*100).round(3)}%')

De procentuele verrandering van 2018 ten opzichte van 2018 is: 8.995%