# Pandas: basisanalyse en draaitabellen
- Voer onderstaande cel uit om het sf dataframe aan te maken. Hierin staan de verkopen en andere kenmerken van een winkelketen.

In [2]:
import pandas as pd
sales = pd.read_csv('sales data-set.csv')
features = pd.read_csv('Features data set.csv')
sf = pd.merge(sales, features,  how='left', left_on=['Store','Date','IsHoliday'], right_on = ['Store','Date', 'IsHoliday'])
sf['Date'] = pd.to_datetime(sales['Date'], dayfirst = True)

## 1 Dataframe inspecteren
- Welke zaken zijn belangrijk om te inspecteren aan een dataframe? Voer deze inspecties uit.

##2 Tijdspanne en ' summary statistics'
- Wat is verschil tussen de 'hoogste' datum en de 'laagste' datum.

- Gebruik 1 regel code om het volgende te tonen: de mediaan, het minimum en het maximum van Weekly Sales, Unemployment, CPI en Temperature. 
- Hint: gebruik numpy en pas de agg() functie toe.

In [6]:
#op toets

        Weekly_Sales  Unemployment         CPI  Temperature
min         -4988.94         3.879  126.064000        -2.06
max        693099.36        14.313  227.232807       100.14
median       7612.03         7.866  182.318780        62.09

C:\Users\zdrav\AppData\Local\Temp\ipykernel_19756\1481973644.py:3: FutureWarning: The provided callable <function min at 0x00000218E4E3FCE0> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  print(sf[['Weekly_Sales', 'Unemployment', 'CPI', 'Temperature']].agg([np.min,
C:\Users\zdrav\AppData\Local\Temp\ipykernel_19756\1481973644.py:3: FutureWarning: The provided callable <function max at 0x00000218E4E3FBA0> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print(sf[['Weekly_Sales', 'Unemployment', 'CPI', 'Temperature']].agg([np.min,
C:\Users\zdrav\AppData\Local\Temp\ipykernel_19756\1481973644.py:3: FutureWarning: The provided callable <function median at 0x00000218E4F6B2E0> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(sf[['Weekly_Sales', 'Unemployment', 'CPI', 'Temperature']].agg([np.min,

## Cumulatieve statistiek

- Maak een nieuw dataframe sf_2_14_2011 waarin alleen de rijen van afdeling (department) 14 van winkel (store) 2 in 2011 staan.
- Maak een nieuw dataframe sf_ytd_2_14_2011 waarin de rijen uit sf_2_14_2011 zijn gesorteerd op datum (date) in oplopende volgorde.
- YTD is een afkorting van 'Year-to-Date'. Wat betekent dit? Gebruik het Internet als je het antwoord niet weet.
- Voeg de kolom YTD toe waarin de cumulatieve verkopen per week (Weekly Sales) staan.
- Toon de volgende kolommen van sf_ytd_2_14_2011: Date, Weekly Sales en YTD.
- Toon de som van 'Weekly Sales' in sf_ytd_2_14_2011. Komt dit overeen met de de laatste regel van sf_ytd_2_14_2011?

       Store  Dept       Date  Weekly_Sales  IsHoliday  Temperature  \
12151      2    14 2011-01-07      16916.65      False        44.69
12152      2    14 2011-01-14      16438.95      False        33.02
12153      2    14 2011-01-21      19331.36      False        41.40
12154      2    14 2011-01-28      20790.92      False        42.83
12155      2    14 2011-02-04      20956.14      False        38.25
12156      2    14 2011-02-11      24718.91       True        33.19
12157      2    14 2011-02-18      25035.76      False        57.83
12158      2    14 2011-02-25      18468.61      False        60.80
12159      2    14 2011-03-04      20675.84      False        57.77
12160      2    14 2011-03-11      20061.64      False        52.70
12161      2    14 2011-03-18      17797.70      False        62.32
12162      2    14 2011-03-25      15337.73      False        69.42
12163      2    14 2011-04-01      19893.39      False        55.43
12164      2    14 2011-04-08      17809.41      False        67.00
12165      2    14 2011-04-15      15774.00      False        69.48
12166      2    14 2011-04-22      16252.30      False        69.39
12167      2    14 2011-04-29      16214.02      False        69.21
12168      2    14 2011-05-06      20475.27      False        61.48
12169      2    14 2011-05-13      19521.67      False        74.61
12170      2    14 2011-05-20      17834.92      False        67.14
12171      2    14 2011-05-27      18223.68      False        76.42
12172      2    14 2011-06-03      18548.61      False        83.07
12173      2    14 2011-06-10      17394.06      False        83.40
12174      2    14 2011-06-17      17730.08      False        86.53
12175      2    14 2011-06-24      17780.68      False        85.17
12176      2    14 2011-07-01      18266.58      False        85.69
12177      2    14 2011-07-08      19241.44      False        87.70
12178      2    14 2011-07-15      16125.94      False        89.83
12179      2    14 2011-07-22      17949.03      False        89.34
12180      2    14 2011-07-29      15194.01      False        90.07
12181      2    14 2011-08-05      19150.57      False        93.34
12182      2    14 2011-08-12      16991.05      False        91.58
12183      2    14 2011-08-19      16320.30      False        89.86
12184      2    14 2011-08-26      16250.06      False        90.45
12185      2    14 2011-09-02      16404.21      False        89.64
12186      2    14 2011-09-09      17840.64       True        77.97
12187      2    14 2011-09-16      15101.08      False        78.85
12188      2    14 2011-09-23      16580.34      False        75.58
12189      2    14 2011-09-30      15396.74      False        78.14
12190      2    14 2011-10-07      16962.20      False        69.92
12191      2    14 2011-10-14      17825.09      False        71.67
12192      2    14 2011-10-21      18247.67      False        64.53
12193      2    14 2011-10-28      18521.60      False        65.87
12194      2    14 2011-11-04      19940.83      False        55.53
12195      2    14 2011-11-11      22006.37      False        59.33
12196      2    14 2011-11-18      25460.97      False        62.01
12197      2    14 2011-11-25      63334.00       True        56.36
12198      2    14 2011-12-02      26538.90      False        48.74
12199      2    14 2011-12-09      33026.41      False        41.76
12200      2    14 2011-12-16      40104.81      False        50.13
12201      2    14 2011-12-23      67053.47      False        46.66
12202      2    14 2011-12-30      30419.21       True        44.57

       Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
12151       2.976        NaN        NaN        NaN        NaN        NaN
12152       2.983        NaN        NaN        NaN        NaN        NaN
12153       3.016        NaN        NaN        NaN        NaN        NaN
12154       3.010        NaN        NaN        NaN        NaN        NaN
12155       2.989        NaN        NaN        NaN        NaN        NaN
12156       3.022        NaN        NaN        NaN        NaN        NaN
12157       3.045        NaN        NaN        NaN        NaN        NaN
12158       3.065        NaN        NaN        NaN        NaN        NaN
12159       3.288        NaN        NaN        NaN        NaN        NaN
12160       3.459        NaN        NaN        NaN        NaN        NaN
12161       3.488        NaN        NaN        NaN        NaN        NaN
12162       3.473        NaN        NaN        NaN        NaN        NaN
12163       3.524        NaN        NaN        NaN        NaN        NaN
12164       3.622        NaN        NaN        NaN        NaN        NaN
12165       3.743        NaN        NaN        NaN        NaN        NaN
12166       3.807        NaN        NaN        NaN        NaN        NaN
12167       3.810        NaN        NaN        NaN        NaN        NaN
12168       3.906        NaN        NaN        NaN        NaN        NaN
12169       3.899        NaN        NaN        NaN        NaN        NaN
12170       3.907        NaN        NaN        NaN        NaN        NaN
12171       3.786        NaN        NaN        NaN        NaN        NaN
12172       3.699        NaN        NaN        NaN        NaN        NaN
12173       3.648        NaN        NaN        NaN        NaN        NaN
12174       3.637        NaN        NaN        NaN        NaN        NaN
12175       3.594        NaN        NaN        NaN        NaN        NaN
12176       3.524        NaN        NaN        NaN        NaN        NaN
12177       3.480        NaN        NaN        NaN        NaN        NaN
12178       3.575        NaN        NaN        NaN        NaN        NaN
12179       3.651        NaN        NaN        NaN        NaN        NaN
12180       3.682        NaN        NaN        NaN        NaN        NaN
12181       3.684        NaN        NaN        NaN        NaN        NaN
12182       3.638        NaN        NaN        NaN        NaN        NaN
12183       3.554        NaN        NaN        NaN        NaN        NaN
12184       3.523        NaN        NaN        NaN        NaN        NaN
12185       3.533        NaN        NaN        NaN        NaN        NaN
12186       3.546        NaN        NaN        NaN        NaN        NaN
12187       3.526        NaN        NaN        NaN        NaN        NaN
12188       3.467        NaN        NaN        NaN        NaN        NaN
12189       3.355        NaN        NaN        NaN        NaN        NaN
12190       3.285        NaN        NaN        NaN        NaN        NaN
12191       3.274        NaN        NaN        NaN        NaN        NaN
12192       3.353        NaN        NaN        NaN        NaN        NaN
12193       3.372        NaN        NaN        NaN        NaN        NaN
12194       3.332        NaN        NaN        NaN        NaN        NaN
12195       3.297   10797.64   20445.00     443.32    4754.07    4787.16
12196       3.308    6490.92    1217.76     152.12     873.82    7656.42
12197       3.236     919.71      62.00   77451.26      23.00    1589.43
12198       3.172    8010.99      83.47    1897.27    4444.00   28238.93
12199       3.158   11472.59      40.00     306.43    4160.55    8899.08
12200       3.159    4908.83      61.03     341.49     469.80    4744.27
12201       3.112    2971.04      15.18    1501.75      88.76    6437.61
12202       3.129    8321.44   92523.94     139.53    1515.40    3027.69

              CPI  Unemployment
12151  211.064888         8.028
12152  211.117671         8.028
12153  211.486469         8.028
12154  211.855267         8.028
12155  212.224065         8.028
12156  212.592862         8.028
12157  212.903312         8.028
12158  213.190421         8.028
12159  213.477531         8.028
12160  213.764640         8.028
12161  214.015624         8.028
12162  214.252157         8.028
12163  214.488691         7.931
12164  214.725224         7.931
12165  214.942063         7.931
12166  215.109666         7.931
12167  215.277268         7.931
12168  215.444871         7.931
12169  215.612473         7.931
12170  215.383478         7.931
12171  215.154482         7.931
12172  214.925487         7.931
12173  214.696491         7.931
12174  214.651354         7.931
12175  214.744111         7.931
12176  214.836868         7.852
12177  214.929625         7.852
12178  215.013443         7.852
12179  215.074912         7.852
12180  215.136382         7.852
12181  215.197852         7.852
12182  215.259321         7.852
12183  215.322931         7.852
12184  215.386897         7.852
12185  215.450863         7.852
12186  215.514829         7.852
12187  215.694438         7.852
12188  216.028236         7.852
12189  216.362033         7.852
12190  216.695831         7.441
12191  217.004826         7.441
12192  217.165004         7.441
12193  217.325182         7.441
12194  217.485361         7.441
12195  217.645539         7.441
12196  217.867022         7.441
12197  218.113027         7.441
12198  218.359032         7.441
12199  218.605037         7.441
12200  218.821793         7.441
12201  218.999550         7.441
12202  219.177306         7.441
het totaal sales is 1106235.82

## 4 Ontdubbelen en tellen
- Voeg de kolom 'Year' toe aan sf. Gebruik hiervoor de dt method.

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
421565    2012
421566    2012
421567    2012
421568    2012
421569    2012
Name: Year, Length: 421570, dtype: int32

- Maak het nieuwe dataframe stores_year aan waarin de dubbele rijen met dezelfde combinatie van jaar (year) en winkel (store) zijn verwijderd. Als resultaat komt iedere winkel nog maar 1 keer voor per jaar.
- Toon het aantal winkels per jaar.
- Waarom is het belangrijk om te controleren dat er in ieder jaar evenveel winkels zijn?

        Year  Store
412033  2012     45
256855  2012     27
78757   2012      9
340387  2012     36
87624   2012     10

## 5 Groeperen en rekenen: groupby()
- Print de totale omzet (weekly sales) per jaar in sf. 
- Wat was het beste jaar?

In [14]:
#! op toets

      Weekly_Sales
Year
2010  2.288886e+09
2011  2.448200e+09
2012  2.000133e+09

## 5 Groeperen en rekenen: groupby() & agg()

- Gebruik 1 regel code om het dataframe mean_stats aan te maken met daarin de totalen en de gemiddeldes per jaar van de volgende kolommen:
    - Weekly_Sales (omzet)
    - Unemployment
    - Temperature
    - CPI
- Vergelijk de gemiddelde omzet en de totale omzet per jaar. Wat valt je op? Wat kan dit hebben veroorzaakt?

C:\Users\zdrav\AppData\Local\Temp\ipykernel_19756\73370432.py:1: FutureWarning: The provided callable <function mean at 0x00000218E4E445E0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  mean_stats = sf.groupby('Year')[['Weekly_Sales', 'Unemployment', 'Temperature', 'CPI']].agg([np.mean, np.sum])
C:\Users\zdrav\AppData\Local\Temp\ipykernel_19756\73370432.py:1: FutureWarning: The provided callable <function sum at 0x00000218E4E3F4C0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  mean_stats = sf.groupby('Year')[['Weekly_Sales', 'Unemployment', 'Temperature', 'CPI']].agg([np.mean, np.sum])

      Weekly_Sales               Unemployment              Temperature  \
              mean           sum         mean          sum        mean
Year
2010  16270.275737  2.288886e+09     8.446427  1188234.968   59.659916
2011  15954.070675  2.448200e+09     8.036353  1233202.496   58.220745
2012  15694.948597  2.000133e+09     7.332047   934381.441   62.815807

                         CPI
             sum        mean           sum
Year
2010  8392897.33  167.727885  2.359579e+07
2011  8934147.95  171.181195  2.626827e+07
2012  8005120.78  175.061958  2.230955e+07

- Bepaal het aantal weken per jaar.
- Verklaart dit de discrepantie die je opmerkte bij de vorige vraag?

   Year       Date
0  2010 2010-02-05
1  2010 2010-02-12
2  2010 2010-02-19
3  2010 2010-02-26
4  2010 2010-03-05

Year
2011    52
2010    48
2012    43
Name: count, dtype: int64

## 7 Draaitabel indicatoren
Belangrijke indicatoren voor een winkelketen zijn werkloosheid (unemployment), Consumenten Prijs Index (CPI) en de benzineprijs (fuel price). Deze indicatoren kunnen mogelijk de omzet beinvloeden.

- Maak een draaitabel sf_piv waarin je de gemiddelde werkloosheid, CPI, benzineprijs en omzet per jaar toont.
- Toon ook een regel waarin je de totale gemiddeldes toont.

In [20]:
import numpy as pd

C:\Users\zdrav\AppData\Local\Temp\ipykernel_19756\3799193476.py:3: FutureWarning: The provided callable <function mean at 0x00000218E4E445E0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  sf_piv = sf.pivot_table(values=['Unemployment','CPI','Fuel_Price', 'Weekly_Sales'] ,index='Year', aggfunc=np.mean, margins=True)

             CPI  Fuel_Price  Unemployment  Weekly_Sales
Year
2010  167.727885    2.823858      8.446427  16270.275737
2011  171.181195    3.563353      8.036353  15954.070675
2012  175.061958    3.710378      7.332047  15694.948597
All   171.201947    3.361027      7.960289  15981.258123

## 8 Draaitabel temperatuur
- Maak een dataframe sf_2010 waarin je alleen de regels uit 2010 toont.
- Maak de draaitabel sf_2010_piv waarin je alleen de rijen uit sf_2010 opneemt die GEEN vakantieweek (IsHoliday) zijn. De draaitabel toont de gemiddelde temperatuur en de gemiddelde omzet per winkel.
- Sorteer de draaitabel in aflopende volgorde op temperatuur.