## Data analyse
In de vorige lessen heb je al een aantal keer geoefend met data-analyse. In deze opdracht bouwen we hierop verder. Er zijn vaak meerdere manieren om iets op te lossen en niet alle oplossingen zijn behandeld in de datacamps. Je zult dit keer ook zelf onderzoek moeten doen naar mogelijke oplossingen.

### 1 Laden bestand
1.	Schrijf een stuk code waarin je 'onderwijs_uitgave.xlsx' als dataframe inleest. **Let op:** in het Excel bestand worden missende waardes (na_values) aangeduid met '.'. Bekijk de de Pandas documentatie (https://pandas.pydata.org/docs/index.html) van de functie waarmee je een Excelbestand kan inlezen om te bepalen hoe je hiermee omgaat.
2. Laat zien welke unieke types van uitgaven en welke types onderwijs er zijn.

In [42]:
import pandas as pd
import numpy as np
df = pd.read_excel('onderwijs_uitgave.xlsx', na_values='.')
display(df['Type onderwijs'].value_counts())
#-------------------------------------------------------------------------
df

Secundair onderwijs|Voortgezet onderwijs                         238
Secundair onderwijs|Middelbaar beroepsonderwijs en volw.ed.      238
Tertiair onderwijs|Hoger beroepsonderwijs                        238
Tertiair onderwijs|Wetenschappelijk onderwijs                    238
(Pre)primair onderwijs|Preprimair onderwijs en basisonderwijs    119
(Pre)primair onderwijs|Speciaal (basis)onderwijs                 119
Name: Type onderwijs, dtype: int64

,Perioden,Type uitgave,Type onderwijs,Waarde
0,1900,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Preprimair onderwijs en...,7.0
1,1900,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Speciaal (basis)onderwijs,NaN
2,1900,Overheidsuitgaven aan onderwijs,Secundair onderwijs|Voortgezet onderwijs,2.0
3,1900,Overheidsuitgaven aan onderwijs,Secundair onderwijs|Middelbaar beroepsonderwij...,0.0
4,1900,Overheidsuitgaven aan onderwijs,Tertiair onderwijs|Hoger beroepsonderwijs,1.0
...,...,...,...,...
1185,2018,Overheidsuitgaven aan onderwijs,Tertiair onderwijs|Wetenschappelijk onderwijs,5472.0
1186,2018,Overheidsuitgaven aan studietoelagen,Secundair onderwijs|Voortgezet onderwijs,74.0
1187,2018,Overheidsuitgaven aan studietoelagen,Secundair onderwijs|Middelbaar beroepsonderwij...,1699.0
1188,2018,Overheidsuitgaven aan studietoelagen,Tertiair onderwijs|Hoger beroepsonderwijs,2810.0
1189,2018,Overheidsuitgaven aan studietoelagen,Tertiair onderwijs|Wetenschappelijk onderwijs,1579.0

### 2a Primair onderwijs (1)	
Er zijn meerdere types voor primair onderwijs.
- Maak een list met daarin de types voor primair onderwijs. **Hint:** kopieer uit de oplossing van de vorige vraag.
- Gebruik deze list om alle regels met uitgaven aan primair onderwijs te tonen.

In [31]:
#moet je kunnen op de toets

primair = ['(Pre)primair onderwijs|Preprimair onderwijs en basisonderwijs', '(Pre)primair onderwijs|Speciaal (basis)onderwijs']
df_pr = df[df['Type onderwijs'].isin(primair)]
df_pr

,Perioden,Type uitgave,Type onderwijs,Waarde
0,1900,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Preprimair onderwijs en...,7.0
1,1900,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Speciaal (basis)onderwijs,NaN
10,1901,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Preprimair onderwijs en...,8.0
11,1901,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Speciaal (basis)onderwijs,NaN
20,1902,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Preprimair onderwijs en...,8.0
...,...,...,...,...
1161,2016,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Speciaal (basis)onderwijs,1305.0
1170,2017,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Preprimair onderwijs en...,9715.0
1171,2017,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Speciaal (basis)onderwijs,1284.0
1180,2018,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Preprimair onderwijs en...,10211.0
1181,2018,Overheidsuitgaven aan onderwijs,(Pre)primair onderwijs|Speciaal (basis)onderwijs,1371.0

### 2b Primair onderwijs (2)
- Maak een nieuw dataframe waarbij type onderwijs de index is.
- Toon uit het nieuwe dataframe opnieuw de regels met uitgaven aan primair onderwijs.

In [32]:
df_ind = df.set_index('Type onderwijs')
df_pr = df_ind.loc[primair]
df_pr

,Perioden,Type uitgave,Waarde
Type onderwijs,,,
(Pre)primair onderwijs|Preprimair onderwijs en basisonderwijs,1900,Overheidsuitgaven aan onderwijs,7.0
(Pre)primair onderwijs|Preprimair onderwijs en basisonderwijs,1901,Overheidsuitgaven aan onderwijs,8.0
(Pre)primair onderwijs|Preprimair onderwijs en basisonderwijs,1902,Overheidsuitgaven aan onderwijs,8.0
(Pre)primair onderwijs|Preprimair onderwijs en basisonderwijs,1903,Overheidsuitgaven aan onderwijs,8.0
(Pre)primair onderwijs|Preprimair onderwijs en basisonderwijs,1904,Overheidsuitgaven aan onderwijs,8.0
...,...,...,...
(Pre)primair onderwijs|Speciaal (basis)onderwijs,2014,Overheidsuitgaven aan onderwijs,1268.0
(Pre)primair onderwijs|Speciaal (basis)onderwijs,2015,Overheidsuitgaven aan onderwijs,1304.0
(Pre)primair onderwijs|Speciaal (basis)onderwijs,2016,Overheidsuitgaven aan onderwijs,1305.0
(Pre)primair onderwijs|Speciaal (basis)onderwijs,2017,Overheidsuitgaven aan onderwijs,1284.0
(Pre)primair onderwijs|Speciaal (basis)onderwijs,2018,Overheidsuitgaven aan onderwijs,1371.0

### 2c Jouw basisschooltijd
- Toon het procentuele verschil (met 2 decimalen) tussen de uitgaven aan primair onderwijs toen je startte met de basisschool en toen je klaar was met de basisschool.

3875.0

3818.0

### 3 Toename overheidsuitgaven
- Toon de absolute toename van de overheidsguitgaven aan onderwijs voor het onderwijstype wetenschappelijk onderwijs van 2010 ten opzichte van 2000.

In [86]:
def plus(x,y):
    return x+y
print(plus(4,4))
#-------------------------------------------------------------
x1 = 4
x2 = 4
print(x1+x2)

8
8

### 4 Integratie
- Laat zien wat de grootste procentuele verandering is geweest in "Overheidsuitgaven aan onderwijs" in de periode 2000 tot en met 2010. Toon ook in welk jaar dat was. Tips:
    - Maak een draaitabel waarin je per jaar de uitgaven toont.
    - Maak een nieuw dataframe waarin je uit de draaitabel de jaren 2000 t/m 2010 en de uitgaven aan onderwijs filtert.
    - Voeg een kolom met procentuele veranderingen toe (zoek hiervoor in de Pandas documentatie)
    - Toon wat de hoogste procentuele verandering was.
    - Toon het jaar dat hierbij hoort. Bedenk dat de jaren in de index staan. Er is een Pandas functie waarmee je de index van een hoogste waarde kunt tonen.

In [4]:
#pivot tables komen op de toets
df = pd.read_excel('onderwijs_uitgave.xlsx', na_values='.')