In [2]:
import pandas as pd
import numpy as np

pokedex = pd.read_csv('pokemon.csv')
columns = list(pokedex.columns)
data= pokedex
pd.DataFrame({'columns':columns})

pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    int64
 24  classification     801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              417 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(14), object(6)
memory usage: 256.7+ KB

In [3]:
pokedex.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [14]:
#1a:
data = pokedex
selectie = data[(data['type1'] == 'water') & (data['type2'] == 'flying')]
mean = selectie['attack'].mean().round(3)
print(mean)
print(f' Het gemiddelde attack stat van Water/Flying pokemon is: {mean}')

60.857
 Het gemiddelde attack stat van Water/Flying pokemon is: 60.857

In [34]:
#2a:
pd.set_option('display.max_columns', None)
selectie1 = (data[(data['type1'] =='dragon')|(data['type2'] == 'dragon')])
pvt = selectie.pivot_table(index=['generation'], values=['attack', 'defense','speed', 'hp', 'sp_attack','sp_attack' ]
                           , aggfunc=['sum', 'mean'])
display(pvt)

              sum                                               mean  \
           attack defense   hp sp_attack sp_attack speed      attack
generation
1             282     205  193       220       220   200   94.000000
2              95      95   75        95        95    85   95.000000
3            1005     850  675       940       940   805  111.666667
4             690     545  574       630       630   496  115.000000
5            1116     830  806       865       865   738  111.600000
6             710     680  749       692       692   606   78.888889
7             479     553  536       533       533   310   79.833333


              defense         hp   sp_attack   sp_attack      speed
generation
1           68.333333  64.333333   73.333333   73.333333  66.666667
2           95.000000  75.000000   95.000000   95.000000  85.000000
3           94.444444  75.000000  104.444444  104.444444  89.444444
4           90.833333  95.666667  105.000000  105.000000  82.666667
5           83.000000  80.600000   86.500000   86.500000  73.800000
6           75.555556  83.222222   76.888889   76.888889  67.333333
7           92.166667  89.333333   88.833333   88.833333  51.666667

In [83]:
#2b:
#Geef in een comment je antwoord aan.

#Omdat er in gen2 waarschijnlijk de minste aantal pokemons zitten met 'dragon' als type1 of type2
#, maar deze hebben wel gemiddeld een hoger sp_defense dan de rest. Daarom is de opsomming het kleinst, maar de mean het grootst

In [41]:
#3a:
selectie = data[data['type1'] == 'fire']
pvt2 = selectie.pivot_table(index=['generation','classification', 'is_legendary'],values=['capture_rate'], aggfunc='mean')
display(pvt2)

                                               capture_rate
generation classification        is_legendary
1          Fire Horse PokÃ©mon    0                    125.0
           Flame PokÃ©mon         0                     45.0
                                 1                      3.0
           Fox PokÃ©mon           0                    132.5
           Legendary PokÃ©mon     0                     75.0
           Lizard PokÃ©mon        0                     45.0
           Puppy PokÃ©mon         0                    190.0
           Spitfire PokÃ©mon      0                     45.0
2          Fire Mouse PokÃ©mon    0                     45.0
           Lava PokÃ©mon          0                    132.5
           Live Coal PokÃ©mon     0                     45.0
           Rainbow PokÃ©mon       1                      3.0
           Volcano PokÃ©mon       0                     45.0
                                 1                      3.0
3          Blaze PokÃ©mon         0                     45.0
           Chick PokÃ©mon         0                     45.0
           Coal PokÃ©mon          0                     90.0
           Eruption PokÃ©mon      0                    150.0
           Numb PokÃ©mon          0                    255.0
           Young Fowl PokÃ©mon    0                     45.0
4          Blast PokÃ©mon         0                     30.0
           Chimp PokÃ©mon         0                     45.0
           Flame PokÃ©mon         0                     45.0
           Lava Dome PokÃ©mon     1                      3.0
           Playful PokÃ©mon       0                     45.0
5          Anteater PokÃ©mon      0                     90.0
           Blazing PokÃ©mon       0                     60.0
           Ember PokÃ©mon         0                     75.0
           Fire Pig PokÃ©mon      0                     45.0
           High Temp PokÃ©mon     0                    190.0
           Mega Fire Pig PokÃ©mon 0                     45.0
           Zen Charm PokÃ©mon     0                    120.0
6          Ember PokÃ©mon         0                    120.0
           Fox PokÃ©mon           0                     45.0
           Lion Cub PokÃ©mon      0                    220.0
           Royal PokÃ©mon         0                     65.0
           Scorching PokÃ©mon     0                     45.0
           Steam PokÃ©mon         1                      3.0
7          Blast Turtle PokÃ©mon  0                     70.0
           Dancing PokÃ©mon       0                     45.0
           Fire Cat PokÃ©mon      0                     45.0
           Heel PokÃ©mon          0                     45.0

In [3]:
#4a:
selectie = data[data['type1'] == 'steel']
pvt = selectie.pivot_table(index=['generation'],columns=['type1'], values=['weight_kg'], aggfunc='mean')
#nu een change kolom maken die de pct_change() berekent per generation
pvt['change'] = pvt.pct_change()
display(pvt2)
max1 = pvt2['change'].max() #dit is de meeste procentuele change(in dit geval 33.5728)
maxgen = pvt2['change'].idxmax() #dit is de bijbehorende generatie(in dit geval gen7)
print(f'De grootste procentuele verrandering was in gen {maxgen}, hier was de procentuele verrandering {(max1)}%')

NameError: name 'pvt2' is not defined