In [2]:
#Verander niets en voer onderstaande cel uit
import pandas as pd
import numpy as np
#dataframe:
df = pd.read_csv('WorldSustainabilityDataset.csv')
countries = list(df['Country Name'].unique())
electricity_access = list(df['Access to electricity (% of population) - EG.ELC.ACCS.ZS'])
carbon_emissions = list(df['Annual production-based emissions of carbon dioxide (CO2), measured in million tonnes'])

electricity_access_np = df[['Country Name', 'Access to electricity (% of population) - EG.ELC.ACCS.ZS']].values
st = {country: {'electricity_access': ea, 'carbon_emissions': ce} for country, ea, ce in zip(countries, electricity_access, carbon_emissions)}
# Filter valid countries and carbon emissions
valid_countries_co2 = [(country, ce) for country, ce in zip(countries, carbon_emissions) if not np.isnan(ce)]
electricity_access_np = df[['Country Name', 'Access to electricity (% of population) - EG.ELC.ACCS.ZS']].values
# Split into separate lists
valid_countries, valid_carbon_emissions = zip(*valid_countries_co2)


valid_countries1 = list(valid_countries)
valid_carbon_emissions1 = list(valid_carbon_emissions)
!conda --version
!jupyter notebook --version
!python --version
!anaconda-navigator --version

conda 23.7.2
6.5.4
Python 3.11.4
2.4.2

In [3]:
#1.1)

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,...,Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
0,Aruba,ABW,2000,91.660398,...,53.283,NaN,NaN,Latin America and Caribbean
1,Aruba,ABW,2001,100.000000,...,53.661,0.000712,46.339,Latin America and Caribbean
2,Aruba,ABW,2002,100.000000,...,54.028,0.000657,45.972,Latin America and Caribbean
3,Aruba,ABW,2003,100.000000,...,54.394,0.000700,45.606,Latin America and Caribbean
4,Aruba,ABW,2004,100.000000,...,54.760,0.000685,45.240,Latin America and Caribbean
...,...,...,...,...,...,...,...,...,...
3282,Zimbabwe,ZWE,2014,32.300000,...,67.496,5.531514,32.504,Sub-Saharan Africa
3283,Zimbabwe,ZWE,2015,33.700000,...,67.615,4.561981,32.385,Sub-Saharan Africa
3284,Zimbabwe,ZWE,2016,39.676228,...,67.704,4.473632,32.296,Sub-Saharan Africa
3285,Zimbabwe,ZWE,2017,40.144283,...,67.763,4.844665,32.237,Sub-Saharan Africa
3286,Zimbabwe,ZWE,2018,40.616360,...,67.791,4.363782,32.209,Sub-Saharan Africa

In [228]:
#1.2
print(f'Er zijn {len(valid_countries1)} in de dataset')
#1.3
indx = valid_carbon_emissions1.index(max(valid_carbon_emissions1))
max_land = valid_countries1[indx]
print(f' Het land met de meeste carbon emissions is {max_land}, met {max(valid_carbon_emissions1)} miljoen ton')

Er zijn 173 in de dataset
 Het land met de meeste carbon emissions is Chad, met 415.954 miljoen ton

In [9]:
#2.1)
median = np.median(electricity_access_np[:, 1])
boven_median = electricity_access_np[:,1]>median
display(electricity_access_np[boven_median])

#2.2)

C:\Users\zdrav\AppData\Local\Temp\ipykernel_22768\1128166561.py:3: RuntimeWarning: invalid value encountered in greater
  boven_median = electricity_access_np[:,1]>median

array([['Aruba', 100.0],
       ['Aruba', 100.0],
       ['Aruba', 100.0],
       ...,
       ['Vietnam', 99.2],
       ['Vietnam', 100.0],
       ['Vietnam', 100.0]], dtype=object)

In [17]:
#3a
st['Aruba']['electricity_access'] = 95.5
print(st['Aruba']['electricity_access'])
#3b
print(st['Aruba']['carbon_emissions'])

95.5
2.378

In [25]:
#4.1
display(df[(df['Country Name'].isin(['China', 'India']))&(df['Year'] == 2010)])
display(df)

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,...,Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
599,China,CHN,2010,99.7,...,50.774,6.299079,49.226,Eastern and South-Eastern Asia
1397,India,IND,2010,76.3,...,69.070,4.443014,30.930,Central and Southern Asia

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,...,Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
0,Aruba,ABW,2000,91.660398,...,53.283,NaN,NaN,Latin America and Caribbean
1,Aruba,ABW,2001,100.000000,...,53.661,0.000712,46.339,Latin America and Caribbean
2,Aruba,ABW,2002,100.000000,...,54.028,0.000657,45.972,Latin America and Caribbean
3,Aruba,ABW,2003,100.000000,...,54.394,0.000700,45.606,Latin America and Caribbean
4,Aruba,ABW,2004,100.000000,...,54.760,0.000685,45.240,Latin America and Caribbean
...,...,...,...,...,...,...,...,...,...
3282,Zimbabwe,ZWE,2014,32.300000,...,67.496,5.531514,32.504,Sub-Saharan Africa
3283,Zimbabwe,ZWE,2015,33.700000,...,67.615,4.561981,32.385,Sub-Saharan Africa
3284,Zimbabwe,ZWE,2016,39.676228,...,67.704,4.473632,32.296,Sub-Saharan Africa
3285,Zimbabwe,ZWE,2017,40.144283,...,67.763,4.844665,32.237,Sub-Saharan Africa
3286,Zimbabwe,ZWE,2018,40.616360,...,67.791,4.363782,32.209,Sub-Saharan Africa

In [28]:
#4b
display(df[(df['World Regions (UN SDG Definition)'] == 'Sub-Saharan Africa')
           & (df['Access to electricity (% of population) - EG.ELC.ACCS.ZS']
              >df['Access to electricity (% of population) - EG.ELC.ACCS.ZS'].mean())])

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,...,Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
721,Comoros,COM,2018,81.624611,...,71.035,1.463851,28.965,Sub-Saharan Africa
732,Cabo Verde,CPV,2010,81.100000,...,38.179,0.470954,61.821,Sub-Saharan Africa
733,Cabo Verde,CPV,2011,79.467850,...,37.678,0.475256,62.322,Sub-Saharan Africa
734,Cabo Verde,CPV,2012,80.952080,...,37.179,0.590399,62.821,Sub-Saharan Africa
735,Cabo Verde,CPV,2013,82.994865,...,36.683,0.572547,63.317,Sub-Saharan Africa
...,...,...,...,...,...,...,...,...,...
3244,South Africa,ZAF,2014,86.000000,...,35.688,4.154430,64.312,Sub-Saharan Africa
3245,South Africa,ZAF,2015,85.300000,...,35.172,2.738260,64.828,Sub-Saharan Africa
3246,South Africa,ZAF,2016,84.200000,...,34.659,3.504944,65.341,Sub-Saharan Africa
3247,South Africa,ZAF,2017,84.400000,...,34.150,3.636468,65.850,Sub-Saharan Africa
3248,South Africa,ZAF,2018,84.700000,...,33.645,3.598190,66.355,Sub-Saharan Africa